__pycache__
AdventOfCode/2025/day01/oop/input.txt
AdventOfCode/2025/day01/code_golf/input.txt
AdventOfCode/2025/day01/input_long.txt
AdventOfCode/2025/day01/scripting/input.txt
AdventOfCode/2025/day01/scripting/input_long.txt
