__pycache__
AdventOfCode/2025/day01/oop/input.txt
AdventOfCode/2025/day01/code_golf/input.txt
AdventOfCode/2025/day01/input_long.txt
AdventOfCode/2025/day01/scripting/input.txt
AdventOfCode/2025/day01/scripting/input_long.txt
AdventOfCode/2025/day02/oop/input.txt
AdventOfCode/2025/day03/oop/input.txt
AdventOfCode/2025/day04/input.txt
AdventOfCode/2025/day05/input.txt
AdventOfCode/2025/day06/input.txt
AdventOfCode/2025/day07/input.txt
AdventOfCode/2025/day08/input.txt
